@{
}
@using Microsoft.AspNetCore.Identity
@using E_commerce_website_Techcareer.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body py-md-4">
                    <form asp-action="KullaniciEkle" method="post" enctype="multipart/form-data">
                        <div class="form-group" >
                            <input type="text"  class="form-control"  name="name" placeholder="Name">
                            <p style="color:red;">@ViewBag.name</p>
                            <span  class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email">
                            <p style="color:red;">@ViewBag.email</p>
                            <span class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <input type="password" class="form-control" name="password" placeholder="Password">
                            <p style="color:red;">@ViewBag.password</p>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="cpassword" placeholder="confirm-password">
                            <p style="color:red;">@ViewBag.password</p>
                        </div>
                        <div class="form-group">
                            <label for="avatar">Avatar Image:</label>
                            <input type="file" accept=".jpg,.png," class="form-control" name="avatar" placeholder="confirm-password" />
                            <p style="color:red;">@ViewBag.general</p>
                        </div>
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <button class="btn btn-primary"  style="color:white!important;">Sıfırla</button>
                            <button class="btn btn-primary" style="color:white!important;">Hesap Oluştur</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>